.d-none { display: none !important; }

@each $breakpoint in (xs, sm, md, lg, xl, xxl) {
  @include media-breakpoint-up($breakpoint) {
    .d-#{$breakpoint}-none { display: none !important; }
    .d-#{$breakpoint}-block { display: block !important; }
    .d-#{$breakpoint}-flex { display: flex !important; }
  }
}
