@use "sass:color";
@use "../abstracts/variables" as vars;

.btn {
  display: inline-block;
  font-weight: vars.$font-weight-bold;
  padding: vars.$spacing-sm vars.$spacing-lg;
  font-size: vars.$font-size-base;
  border-radius: vars.$border-radius-sm;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all vars.$transition-default;
}

.btn-primary {
  background-color: vars.$color-fluor;
  color: vars.$color-black;

  &:hover {
    background-color: color.adjust(vars.$color-fluor, $lightness: -10%);
  }
}

