<div class="coupon-container">
  <div class="sticky-header">
    <div class="coupon-header">
      <h2>Cupones</h2>

      <div class="coupon-date-selector">
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onDateChange()">
          <mat-option *ngFor="let month of months; let i = index" [value]="i + 1">
            {{getMonthName(i + 1)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="selectedYear" (selectionChange)="onDateChange()">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>    </div>
    </div>
  </div>

  <div class="coupon-element coupons-table">
    <app-coupons-table />
  </div>

  <div class="coupon-box-container">
    <app-coupon-box boxType="coupons" class="coupon-element coupon-box" />
    <app-coupon-box boxType="discount" class="coupon-element coupon-box"/>
    <app-coupon-box boxType="couponsMonth" class="coupon-element coupon-box"/>
    <app-coupon-box boxType="discountMonth" class="coupon-element coupon-box"/>

    <div class="coupon-element coupon-graphic">
      <app-coupon-count-graphic />
    </div>
  </div>

</div>

