@import './variables';

@mixin media-breakpoint-up($breakpoint) {
  @if $breakpoint == xs {
    @content;
  } @else if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) { @content; }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) { @content; }
  } @else if $breakpoint == xxl {
    @media (min-width: $breakpoint-xxl) { @content; }
  }
}

@mixin aspect-ratio($w, $h) {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: ($h / $w) * 100%;
  }

  > * {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}
