.orders-container {
  padding: 16px;
  min-height: calc(100vh - 32px); /* Altura total menos el padding */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orders-summary {
  margin-bottom: 24px;
  width: 100%;
}

.summary-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.orders-details {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.orders-details h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #333;
}