.couponsBox {
  padding: 5px;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: 600;
}

.coupons-total p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 8px;
}

.coupons-total p:first-child {
  font-size: 1.4rem;
  font-weight: bold;
}

.coupons-total p:last-child {
  font-size: .85rem;
}

.error-text {
  color: red;
}

.couponsBox div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.couponsBox div:first-child input {
  width: 120px;
}
