<div [ngSwitch]="boxType()" class="coupons-box">
  <ng-container *ngSwitchCase="'coupons'">
    <h3 class="coupons-box-title">Numero cupones</h3>

    <div *ngIf="viewModel.isLoadingCoupons()" class="loading-state">
      <div class="spinner"></div>
      <span>Calculando...</span>
    </div>

    <div *ngIf="viewModel.errorCoupons()" class="error-text">
      {{ viewModel.errorCoupons() }}
    </div>

    <div *ngIf="!viewModel.isLoadingCoupons() && !viewModel.errorCoupons()" class="coupons-total">
      <p class="coupons-info">
        {{ viewModel.totalCoupons() }}
      </p>
      <p>
        Cantidad total de cupones utilizados
      </p>

    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'discount'">
    <h3 class="coupons-box-title">Total descuento</h3>

    <div *ngIf="viewModel.isLoadingDiscount()" class="loading-state">
      <div class="spinner"></div>
      <span>Calculando...</span>
    </div>

    <div *ngIf="viewModel.errorDiscount()" class="error-text">
      {{ viewModel.errorDiscount() }}
    </div>

    <div *ngIf="!viewModel.isLoadingDiscount() && !viewModel.errorDiscount()" class="coupons-total">
      <p class="coupons-info">
        {{ viewModel.totalDiscount() }}<span class="currency">€</span>
      </p>
      <p>
        Total descuento realizado
      </p>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'couponsMonth'">
    <h3 class="coupons-box-title">Nº cupones mensuales</h3>


    <div *ngIf="viewModel.isLoadingCouponsMonth()" class="loading-state">
      <div class="spinner"></div>
      <span>Calculando...</span>
    </div>

    <div *ngIf="viewModel.errorCouponsMonth()" class="error-text">
      {{ viewModel.errorCouponsMonth() }}
    </div>

    <div *ngIf="!viewModel.isLoadingCouponsMonth() && !viewModel.errorCouponsMonth()" class="coupons-total">
      <p class="coupons-info">
        {{ viewModel.totalCouponsMonth() }}
      </p>
      <p>
        Cantidad total de cupones utilizados por mes
      </p>

    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'discountMonth'">
    <h3 class="coupons-box-title">Descuento mensual</h3>

    <div *ngIf="viewModel.isLoadingDiscountMonth()" class="loading-state">
      <div class="spinner"></div>
      <span>Calculando...</span>
    </div>

    <div *ngIf="viewModel.errorDiscountMonth()" class="error-text">
      {{ viewModel.errorDiscountMonth() }}
    </div>

    <div *ngIf="!viewModel.isLoadingDiscountMonth() && !viewModel.errorDiscountMonth()" class="coupons-total">
      <p class="coupons-info">
        {{ viewModel.totalDiscountMonth() }}<span class="currency">€</span>
      </p>
      <p>
        Total descuento por mes
      </p>

    </div>
  </ng-container>
</div>
