:host {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

