<div class="dashboard-container">
    <mat-toolbar class="top-toolbar">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSidenavExpanded()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="toolbar-logo">
            <img src="assets/logo.png" alt="Logo" class="toolbar-logo-img"/>
        </div>   
        <div class="toolbar-spacer"></div>
    </mat-toolbar>
    <div class="main-container">
        <div class="sidenav" [class.expanded]="sidenavExpanded">
            <div class="sidenav-content">
                <div class="nav-items">
                    <a class="nav-item" routerLink="/general" routerLinkActive="active">
                        <mat-icon class="nav-icon">home</mat-icon>
                        <span class="nav-label" *ngIf="sidenavExpanded">General</span>
                    </a>
                    <a class="nav-item" routerLink="/orders-invoices" routerLinkActive="active">
                        <mat-icon class="nav-icon">attach_money</mat-icon>
                        <span class="nav-label" *ngIf="sidenavExpanded">Pedidos/Facturas</span>
                    </a>
                    <a class="nav-item" routerLink="/products" routerLinkActive="active">
                        <mat-icon class="nav-icon">inventory_2</mat-icon>
                        <span class="nav-label" *ngIf="sidenavExpanded">Productos</span>
                    </a>
                    <a class="nav-item" routerLink="/clients" routerLinkActive="active">
                        <mat-icon class="nav-icon">person</mat-icon>
                        <span class="nav-label" *ngIf="sidenavExpanded">Clientes</span>
                    </a>
                    <a class="nav-item" routerLink="/carts" routerLinkActive="active">
                        <mat-icon class="nav-icon">shopping_cart</mat-icon>
                        <span class="nav-label" *ngIf="sidenavExpanded">Carritos</span>
                    </a>
                    <a class="nav-item" routerLink="/coupons" routerLinkActive="active">
                        <mat-icon class="nav-icon">confirmation_number</mat-icon>
                        <span class="nav-label" *ngIf="sidenavExpanded">Cupones</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>